{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Notifaction Application</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
   
  </head>
  <body>
    <!-- navbar area start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">Brand</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "users:dashboard" %}">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle notification_button " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Notifications
                  {% if unchecked_notifications_count > 0 %}
                  <!-- Add notification icon here -->
                  <span class="badge bg-danger notification_count">{{ unchecked_notifications_count }}</span>
                  {% else %}
                  <span class="badge bg-danger notification_count"></span>
                {% endif %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                
                {% if notifications %}
  
                    {% for notification in notifications %}
                      {% if not notification.checked %}
                          <li><a class="dropdown-item" href="#">{{ notification.msg_ref.msg }}</a></li>
                        
                      {% endif %}
                    {% endfor %}
                  <li><hr class="dropdown-divider"></li>

                {% endif %}
              {% if unchecked_notifications_count < 1 %}
                <li><span class="dropdown-item">No unchecked notifications</span></li>
              {% endif %}
               


                  <li><a class="dropdown-item" href="{% url 'users:all-notify' %}">View all notifications</a></li>
              </ul>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar area end -->

    {% block content %} {% endblock content %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelector('.notification_button').addEventListener('click', function() {
              // Make AJAX request to clear notifications
              fetch('/api/clear-notifications/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token
                  }
              })
              .then(response => {
                  if (response.ok) {
                     // window.location.reload();
                     
                     const notificationCountElement = document.querySelector('.notification_count');
                     console.log(notificationCountElement)
                     if (notificationCountElement) {
                            notificationCountElement.innerText = '0';
                        
                            // Hide the notification count element after 2 seconds
                            setTimeout(() => {
                                notificationCountElement.style.display = 'none';
                            }, 1000); // 2000 milliseconds = 2 seconds
                        }
                     console.log("Notification cleared!")
                  } else {
                      console.error('Failed to clear notifications');
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
              });
          });
      });
      
      // Function to get CSRF token from cookies
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      </script>
      <script src="{% static 'js/socket.js' %}"></script>
  </body>
</html>
